.movieDatasheet .card {
  margin-top: 30px; }

.movieDatasheet__image {
  width: auto;
  max-width: 100%;
  max-height: 300px;
  margin: auto; }

.movieDatasheet__list-span {
  display: inline-block;
  margin-left: 5px; }
  .movieDatasheet__list-span::after {
    content: ", "; }
  .movieDatasheet__list-span:last-child:after {
    content: " "; }

.movieDatasheet__list-companies__image {
  max-width: 40px;
  max-height: 20px;
  display: inline-block;
  margin-left: 10px; }

.header__link {
  display: inline-block;
  margin: 5px; }
